nav {
  z-index: 10001 !important ;
}
.gradientBg {
  background: linear-gradient(99deg, #EE9AE5 0%, #5961F9 100%);
}
.shadow-custom {
  box-shadow: 0 4px 6px 6px rgba(129, 129, 133, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0);
}